flask==3.0.3
flask-cors==4.0.0
paramiko==3.4.0
psycopg2-binary==2.9.12
SQLAlchemy==2.0.49
python-dotenv==1.0.1
loguru==0.7.3
geoip2==4.7.0
maxminddb==2.2.0
requests==2.34.2
scapy==2.5.0
dnspython==2.6.1
pycryptodome==3.18.0
werkzeug==3.0.1
pytest==7.4.3
pytest-cov==4.1.0

